.navbar {
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.wrapper {
  padding: 0 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
