.top {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  background: white;
}



.navMenu {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 40px;
  padding-top: 20px;
}

.subMenu {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 40px;
  padding-top: 10px;
  display: none;
}

.subMenu.active {
  display: block;
}

.navItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #fa541c;
}
.subItem {
  padding-top: 10px;
  font-size: 14px;
}

.subItem.activeLink {
  color: #fa541c;
  font-weight: bold;
}
