html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #FCFFF7;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* color pink #F2779A */

/* GLOBAL Custom STYLE FOR Slider  */

.splide__pagination {
  margin-bottom: -4rem !important;
}

.splide__pagination__page.is-active {
  background: #F2779A!important;
  transform: scale(1);
  z-index: 1;
}

.splide__pagination__page {
  background: #ccc;
  height: 15px!important;
  width: 15px!important;

}


.splide__arrow.splide__arrow--next{
  top: 90%!important;
  background-color: #F7F4F3;
  border-radius: 50%;
  padding: 0.3rem;
}

.splide__arrow.splide__arrow--prev{
  top: 90%!important;
  background-color: #F7F4F3;
  border-radius: 50%;
  padding: 0.3rem;
}

.splide__arrow svg {
  fill: #F2779A!important;
}
