@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");

body {
  padding: 0;
  margin: 0;
  background-color: #fcfff7;

}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* color pink #F2779A */

/* GLOBAL Custom STYLE FOR Slider  */

.splide__pagination {
  margin-bottom: -4rem !important;
}

.splide__pagination__page.is-active {
  background: #f2779a !important;
  transform: scale(1);
  z-index: 1;
}

.splide__pagination__page {
  background: #ccc;
  height: 15px !important;
  width: 15px !important;
}

.splide__arrow.splide__arrow--next {
  top: 90% !important;
  background-color: #f7f4f3;
  border-radius: 50%;
  padding: 0.3rem;
}

.splide__arrow.splide__arrow--prev {
  top: 90% !important;
  background-color: #f7f4f3;
  border-radius: 50%;
  padding: 0.3rem;
}

.splide__arrow svg {
  fill: #f2779a !important;
}


