.home {
  display: flex;
}

.homeContainer {
  flex: 6;
  display: flex;
  flex-direction: column;
}

/* styles for Projects PAGE */
.container {
  padding: 20px;
  background-color: #f3f3f3;
  height: 100%;
}
